* {
  box-sizing: border-box;
}

.registrate-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#registrate {
  font-family: Roboto;
  font-weight: bold;
  font-size: 10pt;
  width: 50%;
}

.hiddenradio [type='radio'] + img {
  cursor: pointer;
  width: 180px;
}

/* CHECKED STYLES */
.hiddenradio [type='radio']:checked + img {
  outline: 3px solid rgb(22, 201, 22);
}

label {
  padding: 20px;
}

.hiddenradio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-right: -32px;
}

.registration-area {
  display: flex;
  flex-direction: column;
}

.registration-area-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 100%;
}

.text-under-input {
  display: flex;
  margin-bottom: 10px;
}

.text-under-input p {
  color: #f00;
}

.input-styles {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  color: rgb(104, 104, 104);
}
.registration-area-element ::placeholder {
  font-family: 'Roboto';
  color: rgb(104, 104, 104);
  font-size: 10pt;
}

.hiddenradio-elem {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-basis: 180px;
  margin-right: 32px;
}

.hiddenradio-elem img {
  width: 100%;
}

.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio__text {
  position: relative;
  cursor: pointer;
}
.radio__text:before {
  content: '';
  position: absolute;
  margin-left: -30px;
  top: 80px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background: #fff;
}

.radio input:focus + .radio__text:before {
  width: 14px;
  height: 14px;
  border: 2px solid #ccc;
  background: rgb(22, 201, 22);
}

.hiddenradio [type='radio']:checked + .radio__text img {
  outline: 3px solid rgb(22, 201, 22);
}

.send-button {
  width: 300px;
  height: 50px;
  margin-bottom: 25%;
  margin-top: 10%;
}

.send-button-container {
  display: flex;
  justify-content: center;
}
