.slider-for-children{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffdd15;
  height: 400px;
  padding-top: 3%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  
}

.slider-for-children-event{
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.children-event{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.children-event ul,
.children-event li{
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

.children-event li{
  display: inline-block;
  width: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.children-event img{
  max-width: 100%;
  display: flex;
  margin-bottom: 15%;
}

.descr-children-event{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  transform: scale(0);
  -webkit-transition: all .5s;
  -o-transition: all .3s;
  transition: all .3s;
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.children-event li:hover .descr-children-event{
  display: block;
  opacity: 1;
  top: 0; 
  transform: scale(1.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.cost-time-p{
  margin-bottom: 10%;
}

.slider-header{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 20pt;
  letter-spacing: 1px;
}

.slider-clip{
  width: 35px;
  position: absolute;
  top: -20px;
}