.burger-dropdown-menu-close {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
}

.opacity-on-sidebar {
  flex-basis: 250px;
  height: 100%;
  background: white;
  opacity: 0.8;
  z-index: 2;
}

.main-background-container {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
}

.burger-menu-main-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  transition: all 0.5s ease-out;
  z-index: 150;
}

.burger-menu-links,
.burger-bold-text,
.burger-light-text {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.burger-menu-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  min-height: 430px;
  letter-spacing: 1px;
}

.burger-menu-links a {
  text-decoration: none;
}

.burger-menu-data {
  margin-bottom: 10px;
}

.burger-bold-text a {
  color: black;
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: 500;
  transition: 0.3s;
}

.burger-light-text {
  margin: 20px 0px 20px 0px;
}

.burger-light-text a {
  font-weight: lighter;
  font-size: 18px;
  color: rgb(88, 88, 88);
  margin-bottom: 20px;
  transition: 0.3s;
}

.burger-bold-text a:hover {
  color: #ffdd15;
  transition: 0.3s;
  transform: scale(1.1);
  text-shadow: 1px 1px 1px black;
}

.burger-light-text a:hover {
  color: black;
  transition: 0.3s;
  transform: scale(1.1);
}

.burger-menu-social-network {
  display: none;
}
.burger-menu-data-footer .calendar-events-onclick-area {
  display: none;
}

@media screen and (max-width: 767px) {
  .main-background-container {
    width: 100%;
  }
  .opacity-on-sidebar {
    display: none;
  }

  .burger-bold-text a {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .burger-light-text {
    margin: 0;
  }
  .burger-menu-social-network {
    display: flex;
    width: 50%;
    height: 30px;
    justify-content: space-evenly;
  }

  .burger-menu-data-footer .calendar-events-onclick-area {
    display: flex;
    width: 100%;
    font-size: 14px;
  }

  .burger-menu-data-footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
  }

  .burger-menu-links {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .burger-menu-links img {
    width: 30px;
  }
}
