.gallery {
  display: flex;
}

.gallery .slick-list {
  width: 1100px;
  margin-bottom: 160px;
}
.gallery-header {
  margin-top: 160px;
  margin-bottom: 70px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: 1px;
}

.gallery-and-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../format/gallery/gallery-bg.svg);
  background-size: cover;
  margin-bottom: 160px;
}

.slider-elem {
  display: flex;
  justify-content: center;
}

.photo-from-gallery {
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.photo-from-gallery img {
  width: 95%;
  display: flex;
  justify-content: center;
}

.gallery .slick-prev:before {
  content: '◄';
  color: black;
  background-image: none;
  opacity: 1;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: #ffdd15;
}

.gallery .slick-next:before {
  content: '◄';
  color: black;
  background-image: none;
  opacity: 1;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: #ffdd15;
}

.gallery button {
  font-weight: bold;
  z-index: 150;
}

.gallery .slick-next {
  right: 15px;
  top: 40%;
}

.gallery .slick-prev {
  left: -25px;
  top: 40%;
}

@media screen and (max-width: 767px) {
  .slick-list {
    width: 450px;
  }

  .gallery {
    width: 300px;
  }

  .gallery .slick-prev:before {
    width: 65px;
  }
}
