button {
  box-sizing: border-box;
}
button {
  height: 100%;
  padding: 10px 30px;
  border: none;
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: 2px solid transparent;
  top: 100%;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
  top: 0;
}
