video {
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main-video {
  position: relative;
  height: 100vh;
}

.sidebar-and-video {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-basis: 250px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.video-header {
  width: 80%;
  height: 80%;
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  flex-grow: 1;
}

.burger-drop-down-menu-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
