span {
  display: block;
  height: 2px;
  background: black;
  width: 24px;
  border-radius: 1px;
}
span:nth-child(2) {
  width: 18px;
}

span:nth-child(3) {
  width: 10px;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  cursor: pointer;
  height: 100%;
}

.burger-container {
  width: 100%;
  height: 100%;
}
