span{
  display:block;
  height: 4px;
  background: black;
  margin-bottom: 4px;
  width: 24px;
}
span:nth-child(2){
  width: 18px;
}

span:nth-child(3){
  width: 10px;
}

.burger-icon{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}