.MuiDialog-paperWidthSm-9 {
  width: 100% !important;
}
.popup-shop-container {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: Roboto;
  font-weight: bold;
  font-size: 10pt;
}

.modal-windows {
  display: flex;
  flex-direction: column;
  height: 520px;
}

.art-order-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modal-window-header-picture {
  text-align: center;
  margin-top: 25px;
  font-size: 11pt;
}

.popup-element-header-styles {
  display: flex;
}
.popup-element-header-styles p {
  color: #f00;
}

.popup-window-element {
  display: flex;
  flex-direction: column;
  margin: 20px 30px 0px 30px;
}

.popup-input-element {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 2px;
  padding-left: 10px;
}

.popup-shop-button {
  width: 100%;
  height: 50px;
}

.popup-button-container {
  display: flex;
  flex-direction: column;
  margin: 20px 30px 0px 30px;
}

.purchase-notice-window {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(77, 77, 77);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.purchase-notice-window img {
  width: 70px;
  margin-bottom: 40px;
}

.success-text {
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 1.3em;
}

.popup-close-button {
  position: absolute;
  top: -25px;
  right: -25px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.mui-fixed {
  padding-right: 10px;
  overflow-y: scroll;

  padding-top: 2%;
}

.MuiPaper-root-106 {
  overflow: inherit;
}

.MuiDialog-container-4 {
  height: auto !important;
}

.MuiDialog-paper-5 {
  margin: 48px;
  display: flex;
  position: relative;
  overflow-y: inherit !important;
  flex-direction: column;
}

/* .MuiDialog-paperWidthSm-9 {
  transform: scale(0.1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.MuiDialog-paperWidthSm-9:hover {
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
} */
