.world-and-picture {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
}

.text-in-artist {
  width: 500px;
  text-decoration: none;
  margin-bottom: 6%;
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  line-height: 1.5em;
  text-align: justify;
}

.artist-main-header {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  margin-bottom: 4%;
}

.artist-header {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 20pt;
  margin-bottom: 4%;
}

.artist-eye-img {
  width: 70%;
}

.artist-eye-img img {
  width: 100%;
}

.img-border {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    yellow 50%,
    black 50%
  );
  min-height: 160px;
  min-width: 160px;
}
.on-border-elem {
  width: 97%;
  height: 97%;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 0.5px; */
}

/* .details {
  transform: translateY(0);
} */

.hide-details {
  display: none;
  /* transform: translateY(100%); */
}

.details-p {
  cursor: pointer;
  text-decoration: underline;
  -webkit-user-select: none;
}

@media screen and (max-width: 479px) {
  .img-border {
    display: none;
  }

  .text-in-artist {
    width: 300px;
  }
}
