.MuiModal-root-15 {
  padding-right: 0px;
}

.mui-fixed {
  padding-left: 20px;
}

/* .MuiDialog-paperFullScreen-14 {
  width: 100% !important;
}
.MuiDialog-paperWidthSm-9 {
  width: 100% !important;
  max-width: 100% !important;
} */

.calend span {
  background: none !important;
}
