.calendar-and-svg {
  display: flex;
  align-items: center;
  width: 160px;
  cursor: pointer;
  z-index: 100;
}

.calendar-and-svg img {
  width: 25px;
  margin-left: 10px;
}

.calend {
  display: flex;
  align-items: center;
  justify-content: center;
}
.father {
  /* background-color: rgb(255, 221, 221); */
  z-index: 120;
}

.hide {
  display: none;
  background-color: rgb(255, 255, 255);
}
.show {
  background-color: rgb(255, 255, 255);
}

.calendar-events-onclick-area {
  width: 180px;
  height: 20px;
  font-size: 18px;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.calendar-events-onclick-area img {
  width: 20px;
  height: 20px;
  align-items: center;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.calend .burger-dropdown-menu-close {
  top: 10px;
  right: 20px;
}

@import './antd.css';

.ant-fullcalendar-fullscreen
  .ant-fullcalendar-header
  .ant-radio-group {
  display: none;
}

/* .ant-fullcalendar-calendar-body {
  height: 400px;
} */

.events {
  margin: 0;
  padding: 0;
  font-size: 14px;
  transition: 0.4s;
}

.events:hover {
  background: yellow;
  border-radius: 4px;
  color: black;
  transition: 0.4s;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}

@media screen and (max-width: 767px) {
  .calendar-events-onclick-area {
    display: none;
  }

  .header-number {
    display: none;
  }
  .burger {
    margin-top: 40px !important;
  }
  .events {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-fullcalendar td {
    height: 60px;
  }
  .ant-fullcalendar-fullscreen .ant-fullcalendar-date {
    height: 80px;
  }
}
