.container-map{
  height: 180px;
  width: 450px;
  background: #ffdd15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transform: translate(-50%,-220%);
  left: 50%;
}

.map-location-header{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
}

.map{
  width: 100%;
  height: 300px;
  border-top: 3px solid #ffdd15;
}

