.header-container {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-shop-header {
  height: 100%;
  flex-basis: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-shop-header img {
  height: 70%;
}

.calendar-and-menu-container {
  height: 100%;
  display: flex;
  width: 80%;
  background-color: #ffdd15;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.calendar-and-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  margin-left: 10%;
}
.mobile-header-img {
  display: none;
}

@media screen and (max-width: 576px) {
  .page-shop-header {
    display: none;
  }
  .calendar-and-menu-container {
    width: 100%;
    background: none;
    border-bottom: 1px solid;
  }
  .calendar-and-menu {
    display: none;
  }
  .header-container {
    height: 100px;
  }
  .mobile-header-img {
    display: block !important;
    margin-left: 20px;
    width: 80px;
    position: absolute;
  }
  #registrate {
    width: 90% !important;
  }
  .hiddenradio {
    justify-content: center !important;
  }
}
